[project]
	description = First step in Angularjs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Oxutta
[access "refs/for/refs/*"]
	read = group user/Oxutta
	push = group user/Oxutta
	label-Code-Review = -2..+2 group user/Oxutta
	label-Verified = -1..+1 group user/Oxutta
	rebase = group user/Oxutta
	removeReviewer = group user/Oxutta
	submit = group user/Oxutta
[access "refs/heads/*"]
	read = group user/Oxutta
	create = group user/Oxutta
	push = +force group user/Oxutta
	pushMerge = group user/Oxutta
[access "refs/tags/*"]
	push = +force group user/Oxutta
	pushTag = group user/Oxutta
	pushSignedTag = group user/Oxutta
